name: tests
on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-11, macos-12]
        python-version: ['3.10']
    name: Python ${{ matrix.python-version }} (${{ matrix.os }})
    steps:
      - uses: actions/checkout@v2
      - name: Setup conda
        uses: s-weigand/setup-conda@v1
        with:
          update-conda: true
          python-version: ${{ matrix.python-version }}
          conda-channels: conda-forge, bioconda
      - name: Install
        run: |
          conda install bowtie2 minimap2 samtools gawk
          pip install '.[dev]'
      - name: Test
        run: |
          python -m pytest
